---
import Base from "../layouts/Base.astro";
import Hero from "../components/landing/Hero.astro";
import Features from "../components/landing/Features.astro";
import Examples from "../components/landing/Examples.astro";
import Install from "../components/landing/Install.astro";
---

<Base>
  <main>
    <Hero />
    <Features />
    <Examples />
    <Install />
  </main>
</Base>
